/* ===== Сброс отступов и базовых стилей ===== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* ===== Удаляем контуры при фокусе и активности ===== */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* ===== Унификация отображения семантических блоков ===== */
nav,
footer,
header,
aside {
  display: block;
}

/* ===== Базовые стили для html и body ===== */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* ===== Наследуем шрифт для форм ===== */
input,
button,
textarea {
  font-family: inherit;
}

/* ===== Удаляем крестик в IE ===== */
input::-ms-clear {
  display: none;
}

/* ===== Сброс стилей кнопок ===== */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* ===== Убираем подчеркивание у ссылок ===== */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* ===== Сброс стилей списков ===== */
ul li {
  list-style: none;
}

/* ===== Выравнивание изображений по верху ===== */
img {
  vertical-align: top;
}

/* ===== Сброс заголовков ===== */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color:inherit;
}
